/* .alp {
  scroll-behavior: smooth;
  -ms-overflow-style: none; 
  scrollbar-width: thin;
}

.alp::-webkit-scrollbar {
  width: 5px;
}

.alp::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.alp::-webkit-scrollbar-track {
  background-color: red; 
}

.alp::-webkit-scrollbar-thumb {
  background-color: #5b8469; 
  border-radius: 10px;
}

.alp::-webkit-scrollbar-thumb:hover {
  background-color: #3d6b50; 
} */
