@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

img {
  -webkit-user-drag: none;
  pointer-events: none;
  /* Disable right-clicking */
  /* user-drag: none; */
}

/* Hide Scrollbar */
* {
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.morope-font {
  font-family: "Manrope ", sans-serif;
}

/* chatAnimations */
@keyframes bounceY {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.bounce-dot {
  display: inline-block;
  font-size: 1.5rem;
  animation: bounceY 0.6s infinite;
}

.animation-delay-0 {
  animation-delay: 0s;
}
.animation-delay-200 {
  animation-delay: 0.2s;
}
.animation-delay-200 {
  animation-delay: 0.3s;
}
.animation-delay-400 {
  animation-delay: 0.4s;
}

.custom-select-dropdown::-webkit-scrollbar {
  width: 8px;
}

.custom-select-dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.custom-select-dropdown {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

