@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  height: 8px;
  background-color: #f1f1f1;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

.custom-scrollbar-thumb {
  height: 100%;
  background-color: #c1c1c1;
  border-radius: 4px;
  width: 25%;
}

.custom-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

.cursor-grabbing {
  cursor: grabbing;
}

html {
  scroll-behavior: smooth;
}

img {
  -webkit-user-drag: none;
  pointer-events: none;
  /* Disable right-clicking */
  /* user-drag: none; */
}

.show-scrollbar::-webkit-scrollbar {
  display: block !important;
  width: 8px;
  height: 8px;
}

.show-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.show-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.show-scrollbar {
  scrollbar-width: thin !important;
  scrollbar-color: rgba(0, 0, 0, 0.2) #f1f1f1 !important;
}

/* Hide Scrollbar - only on body/html to allow horizontal scrollbars on other elements */
body,
html {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.morope-font {
  font-family: "Manrope ", sans-serif;
}

/* chatAnimations */
@keyframes bounceY {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }
}

.bounce-dot {
  display: inline-block;
  font-size: 1.5rem;
  animation: bounceY 0.6s infinite;
}

.animation-delay-0 {
  animation-delay: 0s;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-200 {
  animation-delay: 0.3s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}

.custom-select-dropdown::-webkit-scrollbar {
  width: 8px;
}

.custom-select-dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.custom-select-dropdown {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* Hide scrollbar utility class */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}